# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_INFERNUM

config ZMK_KEYBOARD_NAME
    default "Infernum"

config RP2_FLASH_W25Q080
    default y

endif # BOARD_INFERNUM
